.btn-group{
	margin-bottom: 25px;
	&.genres-buttons{
		.btn{
			text-transform: capitalize;
		}
	}
}

svg{
	.axis{
		path{
			display: none;
		}
		.tick{
			line{
				stroke: #ccc;
				opacity: 0.8;
			}
			text{
				font-size: 10px;
				font-weight: 600;
			}
			&.zero-tick{
				line{
					stroke: #000;
					opacity: 1;
				}
			}
		}
	} 

	.hover-text{
		pointer-events: none;
		text-transform: capitalize;
	}
	
	circle{
		fill: #a2d292;
		cursor: pointer;
		stroke: #fff;
		stroke-width: 1px;
		&.selected{
			fill: #52a045;
		}
	}


}