/* line 1, ../sass/style.scss */
.btn-group {
  margin-bottom: 25px;
}
/* line 4, ../sass/style.scss */
.btn-group.genres-buttons .btn {
  text-transform: capitalize;
}

/* line 12, ../sass/style.scss */
svg .axis path {
  display: none;
}
/* line 16, ../sass/style.scss */
svg .axis .tick line {
  stroke: #ccc;
  opacity: 0.8;
}
/* line 20, ../sass/style.scss */
svg .axis .tick text {
  font-size: 10px;
  font-weight: 600;
}
/* line 25, ../sass/style.scss */
svg .axis .tick.zero-tick line {
  stroke: #000;
  opacity: 1;
}
/* line 33, ../sass/style.scss */
svg .hover-text {
  pointer-events: none;
  text-transform: capitalize;
}
/* line 38, ../sass/style.scss */
svg circle {
  fill: #a2d292;
  cursor: pointer;
  stroke: #fff;
  stroke-width: 1px;
}
/* line 43, ../sass/style.scss */
svg circle.selected {
  fill: #52a045;
}
