/* line 1, ../sass/style.scss */
.btn-group {
  margin-bottom: 25px;
}

/* line 7, ../sass/style.scss */
svg .axis path {
  display: none;
}
/* line 11, ../sass/style.scss */
svg .axis .tick line {
  stroke: #ccc;
  opacity: 0.8;
}
/* line 15, ../sass/style.scss */
svg .axis .tick text {
  font-size: 10px;
  font-weight: 600;
}
/* line 20, ../sass/style.scss */
svg .axis .tick.zero-tick line {
  stroke: #000;
  opacity: 1;
}
/* line 28, ../sass/style.scss */
svg .hover-text {
  pointer-events: none;
}
/* line 32, ../sass/style.scss */
svg circle {
  fill: #52a045;
  cursor: pointer;
  stroke: #fff;
  stroke-width: 1px;
}
